<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheManager.Core" version="0.7.0" targetFramework="net452" />
  <package id="CacheManager.MemCached" version="0.7.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="EnyimMemcached" version="2.13" targetFramework="net452" />
  <package id="EnyimMemcached-log4net" version="2.13" targetFramework="net452" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net452" />
</packages>